/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: lighter;
  
}

/*  Set the font */
body {
  font-family: "Helvetica", sans-serif;
}

/* STYLES */
/* Write your CSS below */

.foto {
  width: 100%;
  
}
.titulo {
  top:20rem;
  left:23rem ;
  font-size: 4.95rem;
 
}

/* ESTILOS DEL CUERPO*/
p{ 
  font-size: 1.4rem;
  text-align:justify;
  line-height: 1.2;
  
  
}


i{
  color:lightslategray;
  
}
ul {
  /* 1. Remove the default list style */
  list-style: none;
}



ul > li::before {
  /*3. Set the new style for the list markers */
  content: "- ";
} 

.graella{
  display:flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}



ol {
  /* 1. Remove the default list style */
  list-style: none;
}

ol > li {
  /* 2. Create a custom list counter */
  counter-increment: listcounter;
}

ol > li::before {
  /*3. Set the new style for the list markers */
  content: counter(listcounter) ")";
}
